[Unit]
Description=Discloakroom
After=network-online.target

[Service]
Type=simple

User=root
Group=root

ExecStart=/usr/bin/node /home/ubuntu/discloakroom/dist/index.js

Restart=on-failure
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
